services:
  code-server:
    image: lscr.io/linuxserver/code-server:latest
    container_name: code-server
    environment:
      - DEFAULT_WORKSPACE=/config/workspace
      - LANGUAGE=en_US.UTF-8
      - LANG=en_US.UTF-8
      - PUID=${PUID}
      - PGID=${PGID}
      - S6_CMD_WAIT_FOR_SERVICES_MAXTIME=0
      - S6_VERBOSITY=1
      - S6_STAGE2_HOOK=/docker-mods
      - TZ=${TZ}
      - HOMEASSISTANT_URL=${CODE_SERVER_HOMEASSISTANT_URL}
      - HOMEASSISTANT_TOKEN=${CODE_SERVER_HOMEASSISTANT_TOKEN}
      - PASSWORD=${CODE_SERVER_PASSWORD}!
    volumes:
      - code-server:/config
      - /docker/compose:/config/workspace/docker-compose
#      - /docker/bind-mounts/home-assistant:/config/workspace/home-assistant
      - /mnt/prime-ds/docker/hass/config:/config/workspace/home-assistant
    ports:
      - 8443:8443
    restart: unless-stopped
    security_opt:
      - label=disable
#    networks:
#      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.http.middlewares.code-server-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.middlewares.code-server-https-redirect.redirectscheme.permanent=true"
      - "traefik.http.routers.code-server.rule=Host('code-server.tcit.nl')"
      - "traefik.http.routers.code-server.entrypoints=websecure"
      - "traefik.http.routers.code-server.tls=true"
      - "traefik.http.routers.code-server.tls.certresolver=letsencrypt"
      - "traefik.http.routers.code-server-http.rule=Host('code-server.tcit.nl')"
      - "traefik.http.routers.code-server-http.entrypoints=web"
      - "traefik.http.routers.code-server-http.middlewares=code-server-https-redirect"
      - "traefik.http.routers.code-server.middlewares=hsts-global"
      - "traefik.http.services.code-server.loadbalancer.server.port=8443"

volumes:
  code-server:
    external: true

