services:
  plex:
    image: 'lscr.io/linuxserver/plex:latest'
    container_name: plex
    network_mode: host
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - VERSION=latest
      - TZ=${TZ}
      - PLEX_HW_ACCEL=true
      - GIDLIST=44,993
      - LIBVA_DRIVER_NAME=iHD
      - LIBVA_MESSAGING_LEVEL=1
      - LIBVA_DRIVERS_PATH=/usr/lib/x86_64-linux-gnu/dri
    devices:
      - '/dev/dri:/dev/dri'    
    device_cgroup_rules:
      - 'c 226:* rmw'    
    group_add:
      - 'video'  # "44"
      - 'render' # "993"
    volumes:
      - 'plex:/config'
      - '/mnt/prime-ds/movies:/volume1/movies'
      - '/mnt/prime-ds/music:/volume1/music'
      - '/mnt/prime-ds/series:/volume1/series'
      - '/mnt/prime-ds/movies:/movies'
      - '/mnt/prime-ds/music:/music'
      - '/mnt/prime-ds/series:/series'
      - '/usr/lib/x86_64-linux-gnu/dri:/usr/lib/x86_64-linux-gnu/dri:ro'
    restart: unless-stopped 
    labels:
      - "traefik.enable=true"
      - "traefik.http.middlewares.plex-https-redirect.redirectscheme.scheme=https"
      - "traefik.http.middlewares.plex-https-redirect.redirectscheme.permanent=true"
      - "traefik.http.routers.plex.rule=Host('plex.tcit.nl')"
      - "traefik.http.routers.plex.entrypoints=websecure"
      - "traefik.http.routers.plex.tls=true"
      - "traefik.http.routers.plex.tls.certresolver=letsencrypt"
      - "traefik.http.routers.plex-http.rule=Host('plex.tcit.nl')"
      - "traefik.http.routers.plex-http.entrypoints=web"
      - "traefik.http.routers.plex-http.middlewares=plex-https-redirect"
      - "traefik.http.routers.plex.middlewares=hsts-global"
      - "traefik.http.services.plex.loadbalancer.server.port=32400"

volumes:
  plex:
    external: true